*{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.content{
    background: #000000;
}
.container{
    background: #000000
}
body{
    background: #000000;
}





/* NAVBAR */
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 10px;
    position: relative;
}
.nav-links-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-links{
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 2px;
    background: #02cadc;    
    transition: width 0.3s;
}
.navbar ul li a:hover::after{
    width: 75%;
}
.nav-links, .nav-links-active{
    background: #000000;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.nav-logo{
    width: 100px;
    height: auto;
}
.nav-logo:hover{
    cursor: pointer;
}
.separator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 900;
    font-size: 20px;
}





/* HOME PAGE */
.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000000;
}
.home-text-main{
    font-size: 200px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 7px;
    color: #ffffff;
    margin-bottom: -3vw;
}
.home-text-sub{
    font-size: 175px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 7px;
    color: #47a0b8;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: auto;
    width: auto;
}
.insta, .facebook, .github, .behance, .email{
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: center;
}
.socials i{
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}
.socials i:hover{
    cursor: pointer;
    color: #02cadc;
    font-size: 25px;
}





/* ABOUT PAGE */
.about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}
.about-details{
    padding: 10px;
    margin: 5vw 2vw 5vw 10vw;
    font-size: 20px;
    text-align: justify;
}
.about-heading{
    font-size: 3vw;
    font-weight: 900;
    color: #ffffff;
}
.about-text-sub{
    font-size: 1.75vw;
    color: #47a0b8;
    font-weight: 700;
}
.about-logo{
    width: auto;
    height: auto;
    margin-right: 5vw;
}





/* CONTACT PAGE */
.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #000000;
}
.contact-text{
    font-size: 3vw;
    font-weight: 900;
    color: #ffffff;
    padding: 1vw;
    text-align: center;
}
.contact-form{
    padding: 2vw;
    margin-right: 2vw;
    text-align: left;
    width: 25vw;
}
.contact-name, .contact-email, .contact-message, .contact-subject{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #02cadc;
    border-radius: 4px;
    resize: vertical;
    background: #000000;
}
.contact-send-button{
    padding: 1vw;
    margin: 1vw;
    font-size: 1vw;
    font-weight: 700;
    border: 2px solid #02cadc;
    background: #000000;
    color: #02cadc;
}
.contact-send-button:hover{
    cursor: pointer;
    color: #ffffff;
    background: #02cadc;
    border: 2px solid #ffffff;
}
.contact-info{
    padding: 2vw;
    margin-left: 2vw;
    font-size: 20px;
    top: 0;
    text-align: justify;
}
.contact-info-text{
    font-size: 2vw;
    font-weight: 700;
    color: #47a0b8;
    text-align: center;
}
.contact-info-details{
    color: #ffffff;
    padding: 20px
}
.contact-info-details p i{
    padding: 5px;
}





/* EVENTS PAGE */
.events-text{
    font-size: 3vw;
    font-weight: 900;
    color: #ffffff;
    padding: 1vw;
    text-align: center;
}





/* TEAM PAGE */
.team-text{
    font-size: 3vw;
    font-weight: 900;
    color: #ffffff;
    padding: 1vw;
    text-align: center;
}
.team-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 20px;
    padding-bottom: 5vw;
}
.team-member{
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.member-name{
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}
.member-post{
    font-size: 20px;
    color: #47a0b8;
    font-weight: 700;
}
.member-socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto;
    width: auto;
}
.member-socials i{
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}





/* FOOTER */
.footer{
    text-align: center;
    background: #000000;
    width: 100%;
    height: auto;
    font-weight: 800;
    bottom: 0;
    position: fixed;
}
.footer p{
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
}





/* RESPONSIVENESS */
@media screen and (min-width: 875px) and (max-width: 1200px){
    /* Home Page */
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000000;
    }
    /* About Page */

    /* Team Page */
    .team-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Events Page */

    /* Conatact Page */
}

@media screen and (min-width: 10px) and (max-width: 875px){
    /* Home Page */
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000000;
    }
    .home-text-main{
        font-size: 100px;
    }
    .home-text-sub{
        font-size: 75px;
    }
    /* About Page */

    /* Team Page */
    .team-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Events Page */

    /* Conatact Page */
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #000000;
        padding-bottom: 75px;
    }
    .contact-form-div form{
        width: 75%;
    }
    .contact-send-button{
        font-size: 15px;
        font-weight: 700;
        border: 2px solid #02cadc;
        background: #000000;
        color: #02cadc;
    }
    .contact-text{
        font-size: 50px;
    }
    .contact-info-text{
        font-size: 40px;
    }
}
